# Auto detect text files and perform LF normalization
* text=auto

# Unity YAML files
*.yaml text
*.yml text
*.mat text
*.prefab text
*.scene text

# C# files
*.cs text
*.csproj text

# Text files
*.md text
*.txt text
*.json text
*.xml text
*.csv text

# Set default behavior
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized
# If text files are detected incorrectly, add here
# *.cpp text
# *.h text